body {
  background-color: bisque;
}

img {
width: 250px;
height: 250px;
}

* {
  font-family:  'Mali', cursive;
}

h1{
  text-align: center;
}

div {
  border-color: red;
}

main {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  
 
}

#photo-template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  
}

#photo-template > div {
  width: 400px;
  height: 400px;
}



button {
  display: flex;

}